{% extends "student/index2.html" %}
{% load static %}

{% block breadcrum %}
Learning test
{% endblock %}


{% block content %}

<script src="{% static 'student/js/timeme.min.js' %}"></script>
    

<div class="row justify-content-center">
    {% if k != 0 and k != -1 and k != 111 and k != 1115 and k != 1116 %}
    <input type="text" id="ifelse" name="elif" value="0">
    {% if m %}
    {% if k == 11 %}
    <div class="col-md-10">
        <div class="alert alert-warning border border-warning h6" role="alert"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/warning-sign_26a0.png" class="img-rounded"width="30" height="30"> Please Select Answer From Below Provided Options..!!! 
           
        </div>
    </div>
    {% endif %}
    
    {% if k == 1 %}
    <div class="col-md-10">
        <div class="alert alert-warning border border-warning" role="alert">
            <h2 class="alert-heading">OOPS...wrong answer!!&#128532</h2>
            <p>You havn't checked the hint. First check it and then try to solve the problem again...!! I'm sure it will be very helpful to you..!!!</p>
          </div>
    </div>
    {% endif %}
    {% if k == 2 %}
    <div class="col-md-10">
        <div class="alert alert-warning border border-warning" role="alert">
            <h2 class="alert-heading">OOPS...wrong answer!!&#128531</h2>
                    <p>Please check the hint, it's your last attempt. Try as much as you can.<br>Hints are always useful. Take the help of hints and reach out to the solution...!!</p>
            </div>
        </div>
    {% endif %}
    {% if k == 3 %}
    <div class="col-md-10">
        <div class="alert alert-warning border border-warning" role="alert">
            <h2 class="alert-heading">OOPS...wrong answer!!&#128519</h2>
            <p>Lets give it last and final attempt by understanding the basics.<br>
                The below link will help you understand the topic.</p>
                <a href="#" class="btn btn-inverse">Learn Site</a>
            </div>
        </div>
    {% endif %}
    {% if k == 4 %}
    <div class="col-md-10">
        <div class="alert alert-danger border border-danger" role="alert">
            <h2 class="alert-heading">OOPS...wrong answer!!&#128578</h2>
                It seems we need to get through the topic again and get the basics clear.<br>
                But Don't Worry..!! You have following options.<hr>
            <button class="btn btn-inverse" data-toggle="modal" data-target="#exampleModal">
                View Solution
              </button>
            <a href="#" class="btn btn-inverse pull-right">Learn Site</a>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Solution</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-dark">
                      Solution - {{so}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary border-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
            </div> 
        </div>
        </div>
</div>
    {% endif %}
    {% if k == 5 %}
    <div class="col-md-10">
                    <div class="alert alert-danger border border-danger" role="alert">
                        <h2 class="alert-heading">OOPS...wrong answer!!&#128578</h2>
                        You don't need to worry...<strong>Remember</strong> Success is not final, failure is not fatal: it is the courage to continue that counts.<br>
                        Here, You Have Following Options: <hr>
                        <button class="btn btn-inverse" data-toggle="modal" data-target="#exampleModal">
                            View Solution
                          </button>
                        <a href="#" class="btn btn-inverse pull-right">Learn Site</a>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3 class="modal-title" id="exampleModalLabel">Solution</h3>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body text-dark">
                                  Solution - {{so}}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary border-primary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                        </div> 
                    </div>
                    </div>
    </div>
               
    {% endif %}
    {% if k == 6 %}
    <!-- <div class="col-md-10"></div> -->
        <div class="alert alert-danger border border-danger" role="alert">
            <h2 class="alert-heading">OOPS...wrong answer!!&#128524</h2>
            You havn't checked the hint. Hint helps a lot to find the proper direction of solution. Always try to Grab the opportunity..!!<br>
            Don't Worry, You have Following Options:<hr>
            <button class="btn btn-inverse" data-toggle="modal" data-target="#exampleModal">
                View Solution
              </button>
            <a href="#" class="btn btn-inverse pull-right">Learn Site </a>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Solution</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-dark">
                      Solution - {{so}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary border-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
            </div> 
        </div>
        </div>
    {% endif %}
    {% if k == 7 %}
    <div class="col-md-10">
        <div class="alert alert-warning border border-warning" role="alert">
            <h2 class="alert-heading">OOPS...wrong answer!!&#128522</h2>
            <p>Maybe you missed something. Give it one more try. Just keep in your mind that the Winners never quit, and quitters never win.</p>
          </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="col-md-10">
            <div class="time-message">
                    <h1>
                        <span id="timeInSeconds">0</span> <span>Minutes</span>
                    </h1>
            </div>
            {% for que,hint,op1,op2,op3,op4,qid,aid,qno in z %}
        <div class="card card-outline-info ">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Q{{qno}}.</h1></div>
            <div class="card-body">
                <h2 class="card-title">{{que|safe}}(<span class="text-success">This question can be solved by solving {{nkc}} Shapes.</span>)</h2>
                
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <form class="form" id="ttt" method="post" action="{% url 'test' aid qid %}">
                        {% csrf_token %}
                        {% if x == 0 %}
                    
                    <h3 class="font-weight-bold">So we have provided {{nkc}} Steps as per the question, fill the boxes by solving any shapes required in question:</h3>
                    <br>
                    {% for i in rkc %}
                    
                    {% if i == 1 %}
                    <div class="row">
                        <div class="col-4">
                            <h2>--> First Step:  </h2>
                        </div>
                        <div class="col-8 d-block">
                            
                            {% if step1 == "-1" %}
                                <input type="text"  name="step1" value="">
                            {% else %}
                                <input type="text"  name="step1" value="{{step1}}">
                            {% endif %}
                                
                        </div>
                    </div>
                    <br>
                    {% elif i == 2 %}
                    <div class="row">
                        <div class="col-4">
                            <h2>--> Second Step:  </h2>
                        </div>
                        <div class="col-8 d-block">
                            {% if step2 == "-1" %}
                                <input type="text"  name="step2" value="">
                            {% else %}
                                <input type="text"  name="step2" value="{{step2}}">
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    {% else %}
                    <div class="row">
                        <div class="col-4">
                            <h2>--> Third Step:  </h2>
                        </div>
                        <div class="col-8 d-block">
                            {% if step3 == "-1" %}
                                <input type="text"  name="step3" value="">
                            {% else %}
                                <input type="text"  name="step3" value="{{step3}}">
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    {% endif %}

                    {% endfor %}
                        
                    <h2>--> Final Step: Calculate the final answer and select the options below:</h2>
                    <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_30{{qid}}" class="with-gap radio-col-deep-purple" value="1"/>
                        <label for="radio_30{{qid}}">{{op1}}</label></div>
                        </div></div></div>
                        <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_31{{qid}}" class="with-gap radio-col-deep-purple" value="2"/>
                        <label for="radio_31{{qid}}">{{op2}}</label></div>
                        </div></div></div>
                        <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_32{{qid}}" class="with-gap radio-col-deep-purple" value="3" />
                        <label for="radio_32{{qid}}">{{op3}}</label></div>
                        </div></div></div>
                        <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_33{{qid}}" class="with-gap radio-col-deep-purple" value="4" />
                        <label for="radio_33{{qid}}">{{op4}}</label></div>
                        </div></div></div>
                        <input type="hidden" id="hint" name="hint" value="0">
                        <input type="hidden" id="time" name="time" value="0">
                        {% endif %}
                        <input type="hidden" id="x" name="x" value="{{x}}">
                        <div class="row justify-content-center m-r-5"><div class="col-2"><button class="btn btn-red btn-block" type="submit">Next</button></div>
                        
                        </div>
                        </form>
            </div>
            <div class="card-footer text-center">
                    <a data-toggle="collapse" href="#que{{qid}}" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block ll">
                            <i class="fa fa-chevron-down pull-right"></i>
                            Hint!
                    </a>
                    <div id="que{{qid}}" class="collapse" aria-labelledby="heading-example">

                                {{hint}}
                        </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% elif k == 1115 %}
    <input type="text" id="ifelse" name="elif" value="1">
    <div class="col-md-10">
        
        {% if corr == 1 %}
        <div class="alert alert-success border border-success" role="alert">
            <h2 class="alert alert-success">You did a great job!!!</h2>
            You can check the solution and move on!<strong>Remember</strong> Keep on working hard, results are waiting!<br>
            Here, You Have Following Options: <hr>
        {% else %}
        <div class="alert alert-danger border border-danger" role="alert">
            <h2 class="alert-heading">OOPS...your step
                
                {% if lwr == 1 %}
                {{wrong.0}} was
            {% elif lwr == 2 %}
            {{wrong.0}} and {{wrong.1}} were
            {% elif lwr == 3 %}
            {{wrong.0}}, {{wrong.1}} and {{wrong.2}} were
            {% else %}
            {{wrong.0}}, {{wrong.0}}, {{wrong.0}} and {{wrong.0}} were
            {% endif %}

                !!&#128578</h2>
            You don't need to worry...<strong>Remember</strong> Success is not final, failure is not fatal: it is the courage to continue that counts.<br>
            Here, You Have Following Options: <hr>
        {% endif %}
                        <button class="btn btn-inverse" data-toggle="modal" data-target="#exampleModal">
                            View Solution
                          </button>
                        <a href="#" class="btn btn-inverse pull-right">Learn Site</a>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3 class="modal-title" id="exampleModalLabel">Solution</h3>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body text-dark">
                                  Solution - {{so}}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary border-primary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                        </div> 
                    </div>
                    </div>
    </div>
    <form class="form"  method="get" action="{% url 'test' aid qid %}">
        {% csrf_token %}
    <button type="submit" >Next</button>
    </form>
    
    {% elif k == 1116 %}
    <input type="text" id="ifelse" name="elif" value="1">
    <!-- <div class="col-md-10"></div> -->
    {% if corr == 1 %}
    <div class="alert alert-success border border-success" role="alert">
        <h2 class="alert-heading">You did a great job!!!</h2>
        You can check the solution and move on!<strong>Remember</strong> Keep on working hard, results are waiting!<br>
        Here, You Have Following Options: <hr>
    {% else %}
    <div class="alert alert-danger border border-danger" role="alert">
        <h2 class="alert-heading">OOPS...your step
            
            {% if lwr == 1 %}
            {{wrong.0}} was
        {% elif lwr == 2 %}
        {{wrong.0}} and {{wrong.1}} were
        {% elif lwr == 3 %}
        {{wrong.0}}, {{wrong.1}} and {{wrong.2}} were
        {% else %}
        {{wrong.0}}, {{wrong.0}}, {{wrong.0}} and {{wrong.0}} were
        {% endif %}

            !!&#128578</h2>
            You havn't checked the hint. Hint helps a lot to find the proper direction of solution. Always try to Grab the opportunity..!!<br>
        Here, You Have Following Options: <hr>
    {% endif %}
            
            <button class="btn btn-inverse" data-toggle="modal" data-target="#exampleModal">
                View Solution
              </button>
            <a href="#" class="btn btn-inverse pull-right">Learn Site </a>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Solution</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-dark">
                      Solution - {{so}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary border-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
            </div> 
        </div>
        </div>
        <form class="form"  method="get" action="{% url 'test' aid qid %}">
            {% csrf_token %}
        <button type="submit" ></button>
        </form>    
    {% elif k == 111 %}
    <input type="text" id="ifelse" name="elif" value="1">
    <div class="col-md-10">
        <div class="card card-outline-info">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Congratulations!!</h1></div>
            <div class="card-body">
                    <h3 class="card-title">You successfully learned This topic!!! We are happy for you!</h3>
                
                <p class="card-text">You can download the questions and their solution from the above link and know how topper is performing.</p>
                <div class="card-text text-center mr-3">
                <a href="{% url 'analyse' sid %}" class="btn btn-info">Go to the dashboard to check the result.</a>
            </div>
            </div>
        </div>
    </div>
    <button type="submit" formaction="{% url 'test' aid qid %}"></button>
    {% elif k == 0 %}
    <input type="text" id="ifelse" name="elif" value="1">
    <div class="col-md-10">
        <div class="card card-outline-info">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Congratulations!!</h1></div>
            <div class="card-body">
                    <h3 class="card-title">It's always good to complete the learning.
                    Now you can attend the Confidence test.
                    All the best! And enjoy the learning.</h3>
                
                <p class="card-text">You can download the questions and their solution from the above link and know how topper is performing.</p>
                <div class="card-text text-center mr-3">
                <a href="{% url 'analyse' sid %}" class="btn btn-info">Go to the dashboard to check the result.</a>
            </div>
            </div>
        </div>
    </div>
    {% elif k == -1 %}
    <input type="text" id="ifelse" name="elif" value="1">
    <div class="col-md-10">
        <div class="card card-outline-info">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Already completed.</h1></div>
            <div class="card-body">
                    <h3 class="card-title">It's always good to complete the learning.
                    Now you can attend the Confidence test.
                    All the best! And enjoy the learning.</h3>
                
                <p class="card-text">You can download the questions and their solution from the above link and know how topper is performing.</p>
                <div class="card-text text-center mr-3">
                <a href="{% url 'analyse' sid %}" class="btn btn-info">Go to the dashboard to check the result.</a>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    
</div>
<div id="callll" class="row justify-content-center">
<div class="col-md-10">
    <div class="card card-outline-inverse">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Calculations:</h4></div>
        <div class="card-body row">
        <div class="col-5">
            <input type="text" onclick ="appendRoww()" id="i1"><br ><br >
        <div id="d2">
            <input type="text" onclick ="appendRoww()" id="i2"  hide><br ><br >
        </div>
        <div id="d3">
            <input type="text" onclick ="appendRoww()" id="i3"  hide><br ><br >
        </div>
        <div id="d4">
            <input type="text" onclick ="appendRoww()" id="i4"  hide><br ><br >
        </div>
        <div id="d5">
            <input type="text" onclick ="appendRoww()" id="i5"  hide><br ><br >
        </div>
        <div id="d6">
            <input type="text" onclick ="appendRoww()" id="i6"  hide><br ><br >
        </div>
        <div id="d7">
            <input type="text" onclick ="appendRoww()" id="i7"  hide><br ><br >
        </div>
        <div id="d8">
            <input type="text" onclick ="appendRoww()" id="i8"  hide><br ><br >
        </div>
        <div id="d9">
            <input type="text" onclick ="appendRoww()" id="i9"  hide><br ><br >
        </div>
        <div id="d10">
            <input type="text" onclick ="appendRoww()" id="i10"  hide><br ><br >
        </div>
        <div id="d11">
            <input type="text" onclick ="appendRoww()" id="i11"  hide><br ><br >
        </div>
        <div id="d12">
            <input type="text" onclick ="appendRoww()" id="i12"  hide><br ><br >
        </div>
        <div id="d13">
            <input type="text" onclick ="appendRoww()" id="i13"  hide><br ><br >
        </div>
        <div id="d14">
            <input type="text" onclick ="appendRoww()" id="i14"  hide><br ><br >
        </div>
        <div id="d15">
            <input type="text" onclick ="appendRoww()" id="i15" ><br ><br >
        </div>
        <div id="d16">
            <input type="text" onclick ="appendRoww()" id="i16" ><br ><br >
        </div>
        <div id="d17">
            <input type="text" onclick ="appendRoww()" id="i17" ><br ><br >
        </div>
        <div id="d18">
            <input type="text" onclick ="appendRoww()" id="i18" ><br ><br >
        </div>
        <div id="d19">
            <input type="text" onclick ="appendRoww()" id="i19" ><br ><br >
        </div>
        <div id="d20">
            <input type="text" onclick ="appendRoww()" id="i20" ><br ><br >
        </div>
        <div id="d21">
            <input type="text" onclick ="appendRoww()" id="i21" ><br ><br >
        </div>
        <div id="d22">
            <input type="text" onclick ="appendRoww()" id="i22" ><br ><br >
        </div>
        <div id="d23">
            <input type="text" onclick ="appendRoww()" id="i23" ><br ><br >
        </div>
        <div id="dd16">
            <p>Variable after equation not defined.</p>
        </div>
        <div id="dd17">
            <p>Variable used before equation not defined.</p>
        </div>
            <!-- <div id="div">
            </div> -->
            <button id="adrow" onclick ="appendRow()" value="Add Row">Add Row</button>    
        </div>


        <div class="col-5">
            <div class="toolbar">
                <a class="selected" href="#" id="open" onclick="OpenImage()"><img src="{% static 'student/images/open-icon.png' %}"></a>
                <a href="#" id="save" onclick="SaveImage()"><img src="save-icon.png"></a>
                <a href="#" id="brush" onclick="ChangeTool('brush')"><img src="brush-icon.png"></a>
                <a href="#" id="line" onclick="ChangeTool('line')"><img src="line-icon.png"></a>
                <a href="#" id="rectangle" onclick="ChangeTool('rectangle')"><img src="rectangle-icon.png"></a>
                <a href="#" id="circle" onclick="ChangeTool('circle')"><img src="circle-icon.png"></a>
                <a href="#" id="ellipse" onclick="ChangeTool('ellipse')"><img src="ellipse-icon.png"></a>
                <a href="#" id="polygon" onclick="ChangeTool('polygon')"><img src="polygon-icon.png"></a>
            </div><br>
<canvas id="my-canvas"></canvas>
            <div id="img-data-div">
                <a href="#" id="img-file" download="image.png">download image</a>
            </div>
 
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            
// Reference to the canvas element
let canvas;
// Context provides functions used for drawing and 
// working with Canvas
let ctx;
// Stores previously drawn image data to restore after
// new drawings are added
let savedImageData;
// Stores whether I'm currently dragging the mouse
let dragging = false;
let strokeColor = 'black';
let fillColor = 'black';
let line_Width = 1;
let polygonSides = 6;
// Tool currently using
let currentTool = 'brush';
let canvasWidth = 327.14;
let canvasHeight = 327.14;
 
// Stores whether I'm currently using brush
let usingBrush = false;
// Stores line x & ys used to make brush lines
let brushXPoints = new Array();
let brushYPoints = new Array();
// Stores whether mouse is down
let brushDownPos = new Array();
 
// Stores size data used to create rubber band shapes
// that will redraw as the user moves the mouse
class ShapeBoundingBox{
    constructor(left, top, width, height) {
        this.left = left;
        this.top = top;
        this.width = width;
        this.height = height;
    }
}
 
// Holds x & y position where clicked
class MouseDownPos{
    constructor(x,y) {
        this.x = x,
        this.y = y;
    }
}
 
// Holds x & y location of the mouse
class Location{
    constructor(x,y) {
        this.x = x,
        this.y = y;
    }
}
 
// Holds x & y polygon point values
class PolygonPoint{
    constructor(x,y) {
        this.x = x,
        this.y = y;
    }
}
// Stores top left x & y and size of rubber band box 
let shapeBoundingBox = new ShapeBoundingBox(0,0,0,0);
// Holds x & y position where clicked
let mousedown = new MouseDownPos(0,0);
// Holds x & y location of the mouse
let loc = new Location(0,0);
 
// Call for our function to execute when page is loaded
document.addEventListener('DOMContentLoaded', setupCanvas);
 
function setupCanvas(){
    // Get reference to canvas element
    canvas = document.getElementById('my-canvas');
    // Get methods for manipulating the canvas
    ctx = canvas.getContext('2d');
    ctx.strokeStyle = strokeColor;
    ctx.lineWidth = line_Width;
    // Execute ReactToMouseDown when the mouse is clicked
    canvas.addEventListener("mousedown", ReactToMouseDown);
    // Execute ReactToMouseMove when the mouse is clicked
    canvas.addEventListener("mousemove", ReactToMouseMove);
    // Execute ReactToMouseUp when the mouse is clicked
    canvas.addEventListener("mouseup", ReactToMouseUp);
}
 
function ChangeTool(toolClicked){
    document.getElementById("open").className = "";
    document.getElementById("save").className = "";
    document.getElementById("brush").className = "";
    document.getElementById("line").className = "";
    document.getElementById("rectangle").className = "";
    document.getElementById("circle").className = "";
    document.getElementById("ellipse").className = "";
    document.getElementById("polygon").className = "";
    // Highlight the last selected tool on toolbar
    document.getElementById(toolClicked).className = "selected";
    // Change current tool used for drawing
    currentTool = toolClicked;
}
// Returns mouse x & y position based on canvas position in page
function GetMousePosition(x,y){
    // Get canvas size and position in web page
    let canvasSizeData = canvas.getBoundingClientRect();
    return { x: (x - canvasSizeData.left) * (canvas.width  / canvasSizeData.width),
        y: (y - canvasSizeData.top)  * (canvas.height / canvasSizeData.height)
      };
}
 
function SaveCanvasImage(){
    // Save image
    savedImageData = ctx.getImageData(0,0,canvas.width,canvas.height);
}
 
function RedrawCanvasImage(){
    // Restore image
    ctx.putImageData(savedImageData,0,0);
}
 
function UpdateRubberbandSizeData(loc){
    // Height & width are the difference between were clicked
    // and current mouse position
    shapeBoundingBox.width = Math.abs(loc.x - mousedown.x);
    shapeBoundingBox.height = Math.abs(loc.y - mousedown.y);
 
    // If mouse is below where mouse was clicked originally
    if(loc.x > mousedown.x){
 
        // Store mousedown because it is farthest left
        shapeBoundingBox.left = mousedown.x;
    } else {
 
        // Store mouse location because it is most left
        shapeBoundingBox.left = loc.x;
    }
 
    // If mouse location is below where clicked originally
    if(loc.y > mousedown.y){
 
        // Store mousedown because it is closer to the top
        // of the canvas
        shapeBoundingBox.top = mousedown.y;
    } else {
 
        // Otherwise store mouse position
        shapeBoundingBox.top = loc.y;
    }
}
 
// Returns the angle using x and y
// x = Adjacent Side
// y = Opposite Side
// Tan(Angle) = Opposite / Adjacent
// Angle = ArcTan(Opposite / Adjacent)
function getAngleUsingXAndY(mouselocX, mouselocY){
    let adjacent = mousedown.x - mouselocX;
    let opposite = mousedown.y - mouselocY;
 
    return radiansToDegrees(Math.atan2(opposite, adjacent));
}
 
function radiansToDegrees(rad){
    if(rad < 0){
        // Correct the bottom error by adding the negative
        // angle to 360 to get the correct result around
        // the whole circle
        return (360.0 + (rad * (180 / Math.PI))).toFixed(2);
    } else {
        return (rad * (180 / Math.PI)).toFixed(2);
    }
}
 
// Converts degrees to radians
function degreesToRadians(degrees){
    return degrees * (Math.PI / 180);
}
 
function getPolygonPoints(){
    // Get angle in radians based on x & y of mouse location
    let angle =  degreesToRadians(getAngleUsingXAndY(loc.x, loc.y));
 
    // X & Y for the X & Y point representing the radius is equal to
    // the X & Y of the bounding rubberband box
    let radiusX = shapeBoundingBox.width;
    let radiusY = shapeBoundingBox.height;
    // Stores all points in the polygon
    let polygonPoints = [];
 
    // Each point in the polygon is found by breaking the 
    // parts of the polygon into triangles
    // Then I can use the known angle and adjacent side length
    // to find the X = mouseLoc.x + radiusX * Sin(angle)
    // You find the Y = mouseLoc.y + radiusY * Cos(angle)
    for(let i = 0; i < polygonSides; i++){
        polygonPoints.push(new PolygonPoint(loc.x + radiusX * Math.sin(angle),
        loc.y - radiusY * Math.cos(angle)));
 
        // 2 * PI equals 360 degrees
        // Divide 360 into parts based on how many polygon 
        // sides you want 
        angle += 2 * Math.PI / polygonSides;
    }
    return polygonPoints;
}
 
// Get the polygon points and draw the polygon
function getPolygon(){
    let polygonPoints = getPolygonPoints();
    ctx.beginPath();
    ctx.moveTo(polygonPoints[0].x, polygonPoints[0].y);
    for(let i = 1; i < polygonSides; i++){
        ctx.lineTo(polygonPoints[i].x, polygonPoints[i].y);
    }
    ctx.closePath();
}
 
// Called to draw the line
function drawRubberbandShape(loc){
    ctx.strokeStyle = strokeColor;
    ctx.fillStyle = fillColor;
    if(currentTool === "brush"){
        // Create paint brush
        DrawBrush();
    } else if(currentTool === "line"){
        // Draw Line
        ctx.beginPath();
        ctx.moveTo(mousedown.x, mousedown.y);
        ctx.lineTo(loc.x, loc.y);
        ctx.stroke();
    } else if(currentTool === "rectangle"){
        // Creates rectangles
        ctx.strokeRect(shapeBoundingBox.left, shapeBoundingBox.top, shapeBoundingBox.width, shapeBoundingBox.height);
    } else if(currentTool === "circle"){
        // Create circles
        let radius = shapeBoundingBox.width;
        ctx.beginPath();
        ctx.arc(mousedown.x, mousedown.y, radius, 0, Math.PI * 2);
        ctx.stroke();
    } else if(currentTool === "ellipse"){
        // Create ellipses
        // ctx.ellipse(x, y, radiusX, radiusY, rotation, startAngle, endAngle)
        let radiusX = shapeBoundingBox.width / 2;
        let radiusY = shapeBoundingBox.height / 2;
        ctx.beginPath();
        ctx.ellipse(mousedown.x, mousedown.y, radiusX, radiusY, Math.PI / 4, 0, Math.PI * 2);
        ctx.stroke();
    } else if(currentTool === "polygon"){
        // Create polygons
        getPolygon();
        ctx.stroke();
    }
}
 
function UpdateRubberbandOnMove(loc){
    // Stores changing height, width, x & y position of most 
    // top left point being either the click or mouse location
    UpdateRubberbandSizeData(loc);
 
    // Redraw the shape
    drawRubberbandShape(loc);
}
 
// Store each point as the mouse moves and whether the mouse
// button is currently being dragged
function AddBrushPoint(x, y, mouseDown){
    brushXPoints.push(x);
    brushYPoints.push(y);
    // Store true that mouse is down
    brushDownPos.push(mouseDown);
}
 
// Cycle through all brush points and connect them with lines
function DrawBrush(){
    for(let i = 1; i < brushXPoints.length; i++){
        ctx.beginPath();
 
        // Check if the mouse button was down at this point
        // and if so continue drawing
        if(brushDownPos[i]){
            ctx.moveTo(brushXPoints[i-1], brushYPoints[i-1]);
        } else {
            ctx.moveTo(brushXPoints[i]-1, brushYPoints[i]);
        }
        ctx.lineTo(brushXPoints[i], brushYPoints[i]);
        ctx.closePath();
        ctx.stroke();
    }
}
 
function ReactToMouseDown(e){
    // Change the mouse pointer to a crosshair
    canvas.style.cursor = "crosshair";
    // Store location 
    loc = GetMousePosition(e.clientX, e.clientY);
    // Save the current canvas image
    SaveCanvasImage();
    // Store mouse position when clicked
    mousedown.x = loc.x;
    mousedown.y = loc.y;
    // Store that yes the mouse is being held down
    dragging = true;
 
    // Brush will store points in an array
    if(currentTool === 'brush'){
        usingBrush = true;
        AddBrushPoint(loc.x, loc.y);
    }
};
 
function ReactToMouseMove(e){
    canvas.style.cursor = "crosshair";
    loc = GetMousePosition(e.clientX, e.clientY);
 
    // If using brush tool and dragging store each point
    if(currentTool === 'brush' && dragging && usingBrush){
        // Throw away brush drawings that occur outside of the canvas
        if(loc.x > 0 && loc.x < canvasWidth && loc.y > 0 && loc.y < canvasHeight){
            AddBrushPoint(loc.x, loc.y, true);
        }
        RedrawCanvasImage();
        DrawBrush();
    } else {
        if(dragging){
            RedrawCanvasImage();
            UpdateRubberbandOnMove(loc);
        }
    }
};
 
function ReactToMouseUp(e){
    canvas.style.cursor = "default";
    loc = GetMousePosition(e.clientX, e.clientY);
    RedrawCanvasImage();
    UpdateRubberbandOnMove(loc);
    dragging = false;
    usingBrush = false;
}
 
// Saves the image in your default download directory
function SaveImage(){
    // Get a reference to the link element 
    var imageFile = document.getElementById("img-file");
    // Set that you want to download the image when link is clicked
    imageFile.setAttribute('download', 'image.png');
    // Reference the image in canvas for download
    imageFile.setAttribute('href', canvas.toDataURL());
}
 
function OpenImage(){
    let img = new Image();
    // Once the image is loaded clear the canvas and draw it
    img.onload = function(){
        ctx.clearRect(0,0,canvas.width, canvas.height);
        ctx.drawImage(img,0,0);
    }
    img.src = 'image.png';
    
}
        </script>
        </div>

        <div id="ire">
            <label>Enter variable name:</label>
            <input type="text" onclick ="appendRowwr()" id="ires" >
            <label>It's value:</label>
            <input type="text"  id="ires1" >
        </div>

    </div>
</div>
</div>
<script>
    $("#ifelse").hide()
if($("#ifelse").val() == "1"){
$("#callll").hide()
}
else{
    $("#callll").show()
}
var xk1 = 1;
// for(xkk1 = 2;xkk1<18;xkk1++){
//     console.log("above inside for",xkk1.toString());
//     if (document.getElementById("d" + xkk1.toString()).css('display') === 'none') {
//         console.log("inside for");
//         xk1=xkk1;
//     }
// }
function appendRoww()
{

console.log("above",xk1,xk1.toString());
var inputk = document.getElementById("i" + xk1.toString());
inputk.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("adrow").click();
  }
});
xk1 = xk1 + 1;
}

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script> 
    var x=1;
// function appendRow()
// {
//     astat = document.getElementById(x.toString()).value;
//     console.log(astat);
//     asta = document.getElementById(x.toString()).value;
//     if(asta != ""){
//     var divvv = document.getElementById('div');
//     divvv.innerHTML += "<input type='text' id='"+ ++x +"'><br ><br >";
//     console.log(x);
//     }
// }
for(kk = 2;kk<24;kk++){
    // console.log(kk);
    $("#d"+ kk.toString()).hide();
    // console.log(kk);
}
$("#dd16").hide();
$("#dd17").hide();
$("#adrow").hide();
if(x=1){
$("#ire").hide();

}

function appendRowwr()
{
    // var valvariab = document.getElementById("ires").value;
    // console.log(valvariab,"here");
    var inputkk = document.getElementById("ires");
inputkk.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   var valvariab = document.getElementById("ires").value;
   console.log(valvariab,"here");
   if(valvariab.indexOf(",") == -1){
    console.log("aboveee trueeeeee");
       if(valvariab in variab){
           console.log("trueeeeee");
           document.getElementById("ires1").value = variab[valvariab];
       }
   }
   else{
    var strrn = "";
    var strer = 0;
    var strers = "";
    resultss = valvariab.split(",");
    console.log(resultss);
    for(i=0;i<resultss.length;i++){
        console.log(resultss[i].trim());
        if(resultss[i].trim() in variab){
            strrn = strrn + ", " + variab[resultss[i].trim()];
        }
        else{
            strer = 1;
            strers = strers + ", " + resultss[i].trim();
        }
    }
    if(strer == 0){
        document.getElementById("ires1").value = strrn.slice(2);
    }
    else{
        document.getElementById("ires1").value = strers.slice(2) + " - this variables not defined.";
    }
   }
  }
});
}

var variab = {};
var oper = ["+","-","*","/"];
var opera;
var name; 
var zalil = 0;
var restt;
var errorr = 0;
var error2 = 1;
var velll = 0;
var velll1 = 0;
var velll2 = 0;
var variable1 = "";
var variable2 = "";
function appendRow()
{
    error2 = 1;
    errorr = 0;
    zalil = 0;
    velll = 0;
    velll1 = 0;
    velll2 = 0;
    
    console.log(x);
    // if(x == 2){
    //     var astat = document.getElementById("02").value;
    //     console.log(astat);
    // }
    
    var astat = document.getElementById("i" + x.toString()).value;
    console.log(astat);
    
    
    // var res23 = astat.charAt(1);
    // console.log(res23);
    
    if(astat.indexOf(":") != -1){
        console.log("Worked");
        console.log(astat.indexOf(":"));
        var varll = astat.indexOf(":");
        name = astat.slice(0, varll);
        console.log(name.trim());
        variab[name.trim()] = "none";
        error2 = 0;
        // console.log("gname is here",gname);
        // alert(variab[name]);
    }
    else if(astat.indexOf("=") != -1){
        var varlle = astat.indexOf("=");
        for(i=0;i<oper.length;i++){
            if(astat.indexOf(oper[i]) != -1){
                zalil = 1;
                opera = oper[i];
            }
        }
        console.log(zalil,opera);
        if(zalil == 0){
        console.log("name here:",astat.slice(0,varlle).trim());
        // console.log(astat.slice(varlle+1));
        // console.log((varlle+1));

        for (var key in variab) {
            if (variab.hasOwnProperty(key)) {
                console.log(key,variab[astat.slice(0,varlle).trim()],astat.slice(0,varlle));
                if(key == astat.slice(0,varlle).trim() ){
                    error2 = 0;
                    console.log("error2");
                }
            }
        }
        if(error2 == 1){
            console.log("Errorrr2");
            $("#dd17").show();
        }
        else{
            error2 = 1;
            console.log(astat.slice(varlle+1).trim());
        if(isNaN(astat.slice(varlle+1).trim())){
            for (var key in variab) {
            if (variab.hasOwnProperty(key)) {
                if(key == astat.slice(varlle+1).trim() ){
                    error2 = 0;
                    console.log("error2");
                }
            }
        }
        }
        else{
            error2 = 0;
        }
        if(error2 == 1){
            console.log("Errorrr2","hereee");
            $("#dd16").show();
        }
        else{
            if(isNaN(astat.slice(varlle+1).trim())){
                variab[astat.slice(0,varlle).trim()] = variab[astat.slice(varlle+1).trim()];
            }
            else{
        variab[astat.slice(0,varlle).trim()] = parseInt(astat.slice((varlle+1)).trim());
        console.log("value below");
        console.log(typeof variab[astat.slice(0,varlle).trim()]);
        // error2 = 0;
            }
        }
        }
        }
        else{
            console.log("inside elsee",opera);
            restt = astat.slice(varlle+1).trim();
            console.log(restt);
            variables = restt.split(opera);
            console.log("after split",variables);
            for (var key in variab) {
            if (variab.hasOwnProperty(key)) {
                console.log(key,variab[astat.slice(0,varlle).trim()],astat.slice(0,varlle).trim());
                if(key == astat.slice(0,varlle).trim()){
                    error2 = 0;
                    console.log("error2");
                }
                for(i=0;i<variables.length;i++){
                    if(key == variables[i].trim() && i == 0){
                        variable1 = key;
                        velll1 = 1;
                        velll = -1;
                    }
                    else if(key == variables[i].trim() && i == 1){
                        variable2 = key;
                        velll2 = 2;
                        velll = -1;
                    }
                }
            }
        }
        console.log("velll here!!!",velll);
        if(velll == 0){
            if(error2 == 1){
                console.log("Errorrr2");
                $("#dd17").show();
            }
            else{
                for(i=0;i<variables.length;i++){
                console.log(Number(variables[i].trim()));
                // var etetete = Number("sfsdssf");
                if(isNaN(variables[i].trim())){
                    console.log("Error here!!!!!");
                    errorr = 1;
                    $("#dd16").show();
                }
                }
                // else{
                //     console.log("djhjfjhjd");
                // }
            if(errorr != 1){
                if(opera == "+"){
                variab[astat.slice(0,varlle).trim()] = Number(variables[0].trim()) + Number(variables[1].trim());
                }
                else if(opera == "-"){
                    variab[astat.slice(0,varlle).trim()] = Number(variables[0].trim()) - Number(variables[1].trim());
                }
                else if(opera == "*"){
                    variab[astat.slice(0,varlle).trim()] = Number(variables[0].trim()) * Number(variables[1].trim());
                }
                else if(opera == "/"){
                    variab[astat.slice(0,varlle).trim()] = Number(Number(variables[0].trim()) / Number(variables[1].trim()));
                }
            }
            }
        }
        else if(velll1 == 1 && velll2 != 2){
            if(error2 == 1){
                console.log("Errorrr2");
                $("#dd17").show();
            }
            else{
                // for(i=0;i<variables.length;i++){
                // console.log(Number(variables[i]));
                // var etetete = Number("sfsdssf");
                if(isNaN(variables[1].trim())){
                    console.log("Error here!!!!!");
                    errorr = 1;
                    $("#dd16").show();
                }
                // }
                // else{
                //     console.log("djhjfjhjd");
                // }
            if(errorr != 1){
                if(opera == "+"){
                variab[astat.slice(0,varlle).trim()] = variab[variable1] + Number(variables[1].trim());
                }
                else if(opera == "-"){
                    variab[astat.slice(0,varlle).trim()] = variab[variable1] - Number(variables[1].trim());
                }
                else if(opera == "*"){
                    variab[astat.slice(0,varlle).trim()] = variab[variable1] * Number(variables[1].trim());
                }
                else if(opera == "/"){
                    variab[astat.slice(0,varlle).trim()] = Number(variab[variable1] / Number(variables[1].trim()));
                }
            }
            }
        }
        else if(velll1 != 1 && velll2 == 2){
            if(error2 == 1){
                console.log("Errorrr2");
                $("#dd17").show();
            }
            else{
                // for(i=0;i<variables.length;i++){
                // console.log(Number(variables[i]));
                // var etetete = Number("sfsdssf");
                if(isNaN(variables[0].trim())){
                    console.log("Error here!!!!!");
                    errorr = 1;
                    $("#dd16").show();
                }
                // }
                // else{
                //     console.log("djhjfjhjd");
                // }
            if(errorr != 1){
                if(opera == "+"){
                variab[astat.slice(0,varlle).trim()] = Number(variables[0].trim()) + variab[variable2];
                }
                else if(opera == "-"){
                    variab[astat.slice(0,varlle).trim()] = Number(variables[0].trim()) - variab[variable2];
                }
                else if(opera == "*"){
                    variab[astat.slice(0,varlle).trim()] = Number(variables[0].trim()) * variab[variable2];
                }
                else if(opera == "/"){
                    variab[astat.slice(0,varlle).trim()] = Number(Number(variables[0].trim()) / variab[variable2]);
                }
            }
            }
        }
        else if(velll1 == 1 && velll2 == 2){
            if(error2 == 1){
                console.log("Errorrr2");
                $("#dd17").show();
            }
            else{
                // for(i=0;i<variables.length;i++){
                // console.log(Number(variables[i]));
                // var etetete = Number("sfsdssf");
                // if(isNaN(variables[1].trim())){
                //     console.log("Error here!!!!!");
                //     errorr = 1;
                //     $("#dd16").show();
                // }
                // }
                // else{
                //     console.log("djhjfjhjd");
                // }
            if(errorr != 1){
                if(opera == "+"){
                variab[astat.slice(0,varlle).trim()] = variab[variable1] + variab[variable2];
                }
                else if(opera == "-"){
                    variab[astat.slice(0,varlle).trim()] = variab[variable1] - variab[variable2];
                }
                else if(opera == "*"){
                    variab[astat.slice(0,varlle).trim()] = variab[variable1] * variab[variable2];
                }
                else if(opera == "/"){
                    variab[astat.slice(0,varlle).trim()] = Number(variab[variable1] / variab[variable2]);
                }
            }
            }
        }
        }
    }
    if(errorr == 0 && error2 == 0){
        $("#dd16").hide();
        $("#dd17").hide();
    var asta = document.getElementById("i" + x.toString()).value;
    if(asta != ""){
        x = x + 1;
    $("#d"+ x.toString()).show();
    console.log(x);
    if(x==2){
        $("#ire").show();
    }

    console.log("obj here",variab);
    for (var key in variab) {
            if (variab.hasOwnProperty(key)) {
                console.log(key + " -> " + variab[key]);
            }
        }
    }
    }
}

    // Initialize library and start tracking time
    TimeMe.initialize({
    	currentPageName: "my-home-page", // current page
    	idleTimeoutInSeconds: 30 // seconds
	    });

	    // ... Some time later ...

	    // Retrieve time spent on current page
        var timeSpentOnPage1 = TimeMe.getTimeOnCurrentPageInSeconds();
        window.onload = function(){
				setInterval(function(){
                    var timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
                    var sec = timeSpentOnPage.toFixed(0);
                    Number(sec);
                    var min = sec/60;
                    var minu = parseInt(min);
                    let minu2 = minu.toString().padStart(2, "0");
                    var minu1 = sec % 60;
                    let minu3 = minu1.toString().padStart(2, "0");
                    var minute = String(minu2) + " : " + String(minu3);
                    document.getElementById('timeInSeconds').textContent = minute;
                    $("#ttt").on("submit", function (e) {
        // alert(minute);
        document.getElementById("time").value = sec;//change input
    });
                }, 25);
        
            }
    
$(document).ready(function(){
  $("#heading-example").click(function(){
    $('input[name=hint]').val('1');
    alert(minute);

  });
});


</script>


{% endblock %}



{% block carousel %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container"> <img class="d-block img-fluid" src="{% static 'student/assets/images/big/img1.jpg' %}" alt="First slide"></div>
        </div>
        <div class="carousel-item">
            <div class="container"><img class="d-block img-fluid" src="{% static 'student/assets/images/big/img2.jpg' %}" alt="Second slide"></div>
        </div>
        <div class="carousel-item">
            <div class="container"><img class="d-block img-fluid" src="{% static 'student/assets/images/big/img3.jpg' %}" alt="Third slide"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
{% endblock %}



{% block tricks %}
<div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h5> </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h5> </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h5> </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
        </div>
    </div>
</div>
{% endblock %}



{% block change %}
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter email"> </div>
    <div class="form-group">
        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
{% endblock %}



{% block links %}
<ul class="list-style-none">
    <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
    <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
    <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
    <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
    <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
</ul>
{% endblock %}