
{% load static %}
<html>
    <head>
        <title>ITS</title>
<link href="{% static 'student/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static 'student/assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'student/assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'student/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <link href="{% static 'student/assets/plugins/css-chart/css-chart.css' %}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static 'student/assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Vector CSS -->
    <link href="{% static 'student/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'student/css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'student/css/colors/blue.css' %}" id="theme" rel="stylesheet">

</head>
<script src="{% static 'student/js/timeme.min.js' %}"></script>
    
<body>
    <button onclick="openFullscreen()" id="h1">Open Fullscreen</button> 
<div class="row justify-content-center" id="divfs">
    <div class="col-1"></div>
        <h2 class="col-6">
            Total time:35 Minutes
        </h2>
        <div class="col-2"></div>
        <h1 class="col-3 pull-right">
            Time&nbsp<span id="timeInSeconds">0</span> <span>&nbsp</span>
        </h1>
    
    <!--
    {% if m %}
    {% if k == 1 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Please check the hint provided below question.</h3>
                <p class="card-text">It will be helpful.</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if k == 2 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Please check the hint, it's your last attempt.</h3>
                <p class="card-text">hints are always useful.</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if k == 3 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Lets give it last and final attempt by understanding the basics.</h3>
                <p class="card-text">The below link will help you understand the topic.</p>
                <a href="#" class="btn btn-inverse">Learn Site</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if k == 4 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">It seems we need to get through the topic again and get the basics clear.</h3>
                    <p class="card-text">Here are the solution and learning resource.</p>
                    <p class="card-text">Solution - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-inverse">Learn Site</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if k == 5 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">-
                        <h3 class="card-title">We appreciate your effors, check the solution given below. It will help you know where you went wrong.</h3>
                    <p class="card-text">Solution - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    
                </div>
            </div>
        </div>
    {% endif %}
    {% if k == 6 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">You havn't checked the hint. This is uncool. We have provide learning resource and solution below for your better understanding. Please go through it.</h3>
                    <p class="card-text">Solution - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-inverse">Learn Site</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if k == 7 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">Maybe you missed something. Give it one more try.</h3>
                    
                </div>
            </div>
        </div>
    {% endif %}
    {% endif %}

-->
    {% ifequal test_done 1 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Test completed</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Please check the analysis from side tab</h3>
                <p class="card-text">It will be helpful.</p>

                <a href="{% url 'analyse' sid %}"><button class="btn btn-info">Analyse</button></a>
            </div>
        </div>
    </div>
    
    {% else %}
    
    <div class="col-md-10">
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <form class="form" id="ttt" method="post" action="{% url 'test2' sid tid %}">
                        {% csrf_token %}
                        
                        {% for que,op1,op2,op3,op4,qid in z %}
                    <div class="card card-outline-info ">
                        <div class="card-header">
                            <h1 class="m-b-0 text-white">Q{{forloop.counter}}.</h1></div>
                        <div class="card-body">
                            <h2 class="card-title">{{que}}</h2>
                    <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                        <div class="input-group-prepend">
                        <div><input name="opt{{qid}}" type="radio" id="radio_30{{qid}}" class="with-gap radio-col-deep-purple" value="1"/>
                        <label for="radio_30{{qid}}">{{op1}}</label></div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                        <div class="input-group-prepend">
                        <div><input name="opt{{qid}}" type="radio" id="radio_31{{qid}}" class="with-gap radio-col-deep-purple" value="2"/>
                        <label for="radio_31{{qid}}">{{op2}}</label></div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                        <div class="input-group-prepend">
                        <div><input name="opt{{qid}}" type="radio" id="radio_32{{qid}}" class="with-gap radio-col-deep-purple" value="3" />
                        <label for="radio_32{{qid}}">{{op3}}</label></div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                        <div class="input-group-prepend">
                        <div><input name="opt{{qid}}" type="radio" id="radio_33{{qid}}" class="with-gap radio-col-deep-purple" value="4" />
                        <label for="radio_33{{qid}}">{{op4}}</label></div>
                        </div>
                    </div>
                    </div>
                        <input type="hidden" id="hint" name="hint" value="0">
                        
                        
                        <!-- <input type="hidden" id="x" name="x" value="{{x}}"> -->
                        </div>
                    </div>
                        {% endfor %}
                        <input type="hidden" id="time" name="time" value="0">
                        <div class="row justify-content-center"><div class="col-2"><button class="btn btn-red btn-block" type="submit">Submit</button></div></div>
                        <!-- <div class="col-1"></div> -->
                        <!-- <div class="col-2"><button class="btn btn-red btn-block" >Previous</button></div> -->
                        
                        </form>
            </div>
    {% endifequal %}
            <!-- <div class="card-footer text-center">
                    <a data-toggle="collapse" href="#que{{qid}}" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block ll">
                            <i class="fa fa-chevron-down pull-right"></i>
                            Hint!
                    </a>
                    <div id="que{{qid}}" class="collapse" aria-labelledby="heading-example">

                                {{hint}}
                        </div>
            </div> -->
        

        </div>
        
    </div>
</div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
$("#divfs").hide();
var x = 0;
function openFullscreen(){
    $("#divfs").show();
    $("#h1").hide();
    var conf = confirm("Fullscreen mode?");
    var docelem = document.documentElement;

    if (conf == true) {
        if (docelem.requestFullscreen) {
            docelem.requestFullscreen();
        }
        else if (docelem.mozRequestFullScreen) {
            docelem.mozRequestFullScreen();
        }
        else if (docelem.webkitRequestFullScreen) {
            docelem.webkitRequestFullScreen();
        }
        else if (docelem.msRequestFullscreen) {
            docelem.msRequestFullscreen();
        }
    }
}

document.addEventListener("fullscreenchange", function() {
    if(x == 0){
        
        x = 1
    }
    else{
        x = 0
        $("#divfs").hide();
        $("#h1").show();
        console.log(x,"under elseee");
    }
});

    // Initialize library and start tracking time
    TimeMe.initialize({
    	currentPageName: "my-home-page", // current page
    	idleTimeoutInSeconds: 30 // seconds
	    });

	    // ... Some time later ...

	    // Retrieve time spent on current page
        var timeSpentOnPage1 = TimeMe.getTimeOnCurrentPageInSeconds();
        window.onload = function(){
				setInterval(function(){
                    var timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
                    var sec = timeSpentOnPage.toFixed(0);
                    Number(sec);
                    var min = sec/60;
                    var minu = parseInt(min);
                    let minu2 = minu.toString().padStart(2, "0");
                    var minu1 = sec % 60;
                    let minu3 = minu1.toString().padStart(2, "0");
                    var minute = String(minu2) + " : " + String(minu3);
                    document.getElementById('timeInSeconds').textContent = minute;
                    $("#ttt").on("submit", function (e) {
        // alert(minute);
        // alert(sec);
        document.getElementById("time").value = sec;//change input
    });
                }, 25);
        
            }
    
$(document).ready(function(){
  $("#heading-example").click(function(){
    $('input[name=hint]').val('1');

  });
});


</script>
</html>