{% extends "student/index2.html" %}
{% load static %}


{% block content %}

<script src="{% static 'student/js/timeme.min.js' %}"></script>
    

<div class="row justify-content-center">
    {% if k != 0 and k != -1 %}
    {% if m %}
    {% if k == 11 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h3 class="m-b-0 text-white">Please select the options provided.</h3></div>
        </div>
    </div>
    {% endif %}
    {% if k == 1 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Please check the hint provided below question.</h3>
                <p class="card-text">It will be helpful.</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if k == 2 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Please check the hint, it's your last attempt.</h3>
                <p class="card-text">hints are always useful.</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if k == 3 %}
    <div class="col-md-10">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
            <div class="card-body">
                    <h3 class="card-title">Lets give it last and final attempt by understanding the basics.</h3>
                <p class="card-text">The below link will help you understand the topic.</p>
                <a href="#" class="btn btn-inverse">Learn Site</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if k == 4 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">It seems we need to get through the topic again and get the basics clear.</h3>
                    <p class="card-text">Here are the solution and learning resource.</p>
                    <p class="card-text">Solution - {{so}}</p>
                    <a href="#" class="btn btn-inverse">Learn Site</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if k == 5 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">We appreciate your effors, check the solution given below. It will help you know where you went wrong.</h3>
                    <p class="card-text">Solution - {{so}}</p>
                    
                </div>
            </div>
        </div>
    {% endif %}
    {% if k == 6 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">You havn't checked the hint. This is uncool. We have provide learning resource and solution below for your better understanding. Please go through it.</h3>
                    <p class="card-text">Solution - {{so}}</p>
                    <a href="#" class="btn btn-inverse">Learn Site</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if k == 7 %}
    <div class="col-md-10">
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">OOPS! Wrong answer.</h4></div>
                <div class="card-body">
                        <h3 class="card-title">Maybe you missed something. Give it one more try.</h3>
                    
                </div>
            </div>
        </div>
    {% endif %}
    {% endif %}
    <div class="col-md-10">
            <div class="time-message">
                    <h1>
                        <span id="timeInSeconds">0</span> <span>Minutes</span>
                    </h1>
            </div>
            {% for que,hint,op1,op2,op3,op4,qid,aid,qno in z %}
        <div class="card card-outline-info ">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Q{{qno}}.</h1></div>
            <div class="card-body">
                <h2 class="card-title">{{que}}</h2>
                
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <form class="form" id="ttt" method="post" action="{% url 'test' aid qid %}">
                        {% csrf_token %}
                        {% if x == 0 %}
                    <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_30{{qid}}" class="with-gap radio-col-deep-purple" value="1"/>
                        <label for="radio_30{{qid}}">{{op1}}</label></div>
                        </div></div></div>
                        <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_31{{qid}}" class="with-gap radio-col-deep-purple" value="2"/>
                        <label for="radio_31{{qid}}">{{op2}}</label></div>
                        </div></div></div>
                        <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_32{{qid}}" class="with-gap radio-col-deep-purple" value="3" />
                        <label for="radio_32{{qid}}">{{op3}}</label></div>
                        </div></div></div>
                        <div class="row">
                    <div class="input-group mx-0 mx-md-3">
                            <div class="input-group-prepend">
                        <div><input name="opt" type="radio" id="radio_33{{qid}}" class="with-gap radio-col-deep-purple" value="4" />
                        <label for="radio_33{{qid}}">{{op4}}</label></div>
                        </div></div></div>
                        <input type="hidden" id="hint" name="hint" value="0">
                        <input type="hidden" id="time" name="time" value="0">
                        {% endif %}
                        <input type="hidden" id="x" name="x" value="{{x}}">
                        <div class="row justify-content-center m-r-5"><div class="col-2"><button class="btn btn-red btn-block" type="submit">Next</button></div>
                        
                        </div>
                        </form>
            </div>
            <div class="card-footer text-center">
                    <a data-toggle="collapse" href="#que{{qid}}" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block ll">
                            <i class="fa fa-chevron-down pull-right"></i>
                            Hint!
                    </a>
                    <div id="que{{qid}}" class="collapse" aria-labelledby="heading-example">

                                {{hint}}
                        </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% elif k == 0 %}
    <div class="col-md-10">
        <div class="card card-outline-info">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Congratulations!!</h1></div>
            <div class="card-body">
                    <h3 class="card-title">It's always good to complete the learning.
                    Now you can attend the Confidence test.
                    All the best! And enjoy the learning.</h3>
                
                <p class="card-text">You can download the questions and their solution from the above link and know how topper is performing.</p>
                <div class="card-text text-center mr-3">
                <a href="{% url 'analyse' sid %}" class="btn btn-info">Go to the dashboard to check the result.</a>
            </div>
            </div>
        </div>
    </div>
    {% elif k == -1 %}
    <div class="col-md-10">
        <div class="card card-outline-info">
            <div class="card-header">
                <h1 class="m-b-0 text-white">Already completed.</h1></div>
            <div class="card-body">
                    <h3 class="card-title">It's always good to complete the learning.
                    Now you can attend the Confidence test.
                    All the best! And enjoy the learning.</h3>
                
                <p class="card-text">You can download the questions and their solution from the above link and know how topper is performing.</p>
                <div class="card-text text-center mr-3">
                <a href="{% url 'analyse' sid %}" class="btn btn-info">Go to the dashboard to check the result.</a>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    // Initialize library and start tracking time
    TimeMe.initialize({
    	currentPageName: "my-home-page", // current page
    	idleTimeoutInSeconds: 30 // seconds
	    });

	    // ... Some time later ...

	    // Retrieve time spent on current page
        var timeSpentOnPage1 = TimeMe.getTimeOnCurrentPageInSeconds();
        window.onload = function(){
				setInterval(function(){
                    var timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
                    var sec = timeSpentOnPage.toFixed(0);
                    Number(sec);
                    var min = sec/60;
                    var minu = parseInt(min);
                    let minu2 = minu.toString().padStart(2, "0");
                    var minu1 = sec % 60;
                    let minu3 = minu1.toString().padStart(2, "0");
                    var minute = String(minu2) + " : " + String(minu3);
                    document.getElementById('timeInSeconds').textContent = minute;
                    $("#ttt").on("submit", function (e) {
        // alert(minute);
        document.getElementById("time").value = sec;//change input
    });
                }, 25);
        
            }
    
$(document).ready(function(){
  $("#heading-example").click(function(){
    $('input[name=hint]').val('1');
    alert(minute);

  });
});


</script>


{% endblock %}
